<h1 mat-dialog-title>{{ data?.id ? 'Editar Cliente' : 'Adicionar Cliente' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Localização</mat-label>
      <input matInput formControlName="localizacao">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Agência</mat-label>
      <input matInput formControlName="agencia">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Conta</mat-label>
      <input matInput formControlName="conta">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Saldo</mat-label>
      <input matInput type="number" formControlName="saldo">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="salvar()">{{ data?.id ? 'Salvar' : 'Adicionar' }}</button>
</div>
<div class="validation-error">
    <span *ngIf="errorForm">Preencha os campos corretamente.</span>
</div>
  
